{% extends "layouts/default.html" %}
{% block content %}
    <h1>{{ msg }}</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Authorization</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <a href="/admin/roles">Roles</a>
                </th>
                <td>
                    <a href="/admin/roles/add">&#x2795;&nbsp;Add</a>
                    &nbsp;|&nbsp;
                    <a href="/admin/roles/edit">&#x270f;&#xfe0f;&nbsp;Edit</a>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <a href="/admin/users">Users</a>
                </th>
                <td>
                    <a href="/admin/users/add">&#x2795;&nbsp;Add</a>
                    &nbsp;|&nbsp;
                    <a href="/admin/users/edit">&#x270f;&#xfe0f;&nbsp;Edit</a>
                </td>
            </tr>
        </tbody>
</table>
{% endblock %}
