{% extends "layouts/default.html" %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>{% if player %}{{ player.name }}{% else %}All Players{% endif %}: {{ count }}</h1>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for p in pages %}
        {% if forloop.first %}
          {% if player %}
            <li class="page-item{% ifequal page forloop.counter0 %} active{% endifequal %}"><a class="page-link" href="/players/{{ player.name }}/cards">{{ forloop.counter }}</a></li>
          {% else %}
            <li class="page-item{% ifequal page forloop.counter0 %} active{% endifequal %}"><a class="page-link" href="/cards">{{ forloop.counter }}</a></li>
          {% endif %}
        {% else %}
            {% if player %}
              <li class="page-item{% ifequal page forloop.counter0 %} active{% endifequal %}"><a class="page-link" href="/players/{{ player.name }}/cards?offset={{ p }}">{{ forloop.counter }}</a></li>
            {% else %}
              <li class="page-item{% ifequal page forloop.counter0 %} active{% endifequal %}"><a class="page-link" href="/cards?offset={{ p }}">{{ forloop.counter }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}

  </ul>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Extras</th>
      {% if not player %}
        <th scope="col">Player</th>
      {% endif %}
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
        <tr>
          <th scope="col">{{ forloop.counter }}</th>
          <td><a href="/cards/{{ result.card.id }}">{{ result.card.name }}</a></td>
          <td>{{ result.extras }}</td>
          {% if not player %}
            <td><a href="/players/{{ result.user.name }}">{{ result.user.name }}</a></td>
          {% endif %}
          <td>{{ result.quantity }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for p in pages %}
        {% if forloop.first %}
          <li class="page-item{% ifequal page forloop.counter0 %} active{% endifequal %}"><a class="page-link" href="/cards">{{ forloop.counter }}</a></li>
        {% else %}
          <li class="page-item{% ifequal page forloop.counter0 %} active{% endifequal %}"><a class="page-link" href="/cards?offset={{ p }}">{{ forloop.counter }}</a></li>
        {% endif %}
    {% endfor %}

  </ul>
</nav>
{% endblock %}
