{% extends "layouts/default.html" %}
{% block content %}
<form class="row g-3" action="/cards" method="GET">
  <div class="col-md-6">
    <label for="search" class="form-label">Search:</label>
    <input type="text" class="form-control" id="search" name="search">
  </div>

  <div class="col-md-6">
    <label for="player" class="form-label">Player:</label>
    <select id="player" name="player" class="form-select">
        <option value="">All</option>
        {% for player in players %}
            <option value="{{ player.name }}">{{ player.name }}</option>
        {% endfor %}
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<div class="row">
  <div class="col-12">
    <h1>Seen this card?</h1>
    {% if collection.card.image-normal %}
      <a href="{{ collection.card.scryfall-uri }}" target="blank"><img src="{{ collection.card.image-normal }}"></img></a>
    {% endif %}
  </div>
</div>
{% endblock %}
