{% extends "layouts/default.html" %}
{% block content %}
<a href="/admin">Admin</a> > <a href="/admin/user">Users</a>
<h1>User</h1>
<form method="POST" action="/admin/role">
  <div class="form-group">
    <label for="name">Name:</label>
    {% if item %}
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name..." value="{{ item.name }}"></input>
    {% else %}
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name..."></input>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    {% if item %}
      <input type="password" class="form-control" name="password" id="password" placeholder="Enter password..." value="********"></input>
    {% else %}
      <input type="password" class="form-control" name="password" id="password" placeholder="Enter password..."></input>
    {% endif %}
  </div>

  <br>
  <input type="submit" value="Add" class="btn btn-primary"></input>
</form>
{% endblock %}
