{% extends "layouts/default.html" %}
{% block content %}
<a href="/admin">Admin</a> > <a href="/admin/user">Users</a>
<h1>User</h1>
<form method="POST" action="/admin/role">
  <div class="form-group">
    {% if csrf-token %}
      <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf-token }}"></input>
    {% endif %}
    <label for="name">Name:</label>
    {% if item %}
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name..." value="{{ item.name }}"></input>
    {% else %}
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name..."></input>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    {% if item %}
      <input type="password" class="form-control" name="password" id="password" placeholder="Enter password..." value="********"></input>
    {% else %}
      <input type="password" class="form-control" name="password" id="password" placeholder="Enter password..."></input>
    {% endif %}
  </div>

  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <input type="submit" name="action" value="Save" class="btn btn-primary"></input>
    <input type="submit" name="action" value="Delete" class="btn btn-danger"></input>
  </div>
</form>
{% endblock %}
