{% extends "layouts/default.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
                <li class="breadcrumb-item"><a href="/admin/user">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
            </ol>
        </nav>
    </div>
</div>

{% if item.id %}
  <form method="POST" action="/admin/user/{{ item.id }}">
{% else %}
  <form method="POST" action="/admin/user">
{% endif %}
  <div class="form-group col-xl-12">
    {% if csrf-token %}
      <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf-token }}"></input>
    {% endif %}
    <label for="name">Name:</label>
    {% if item %}
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name..." value="{{ item.name }}"></input>
    {% else %}
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name..."></input>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password..." value="********" disabled></input>
    <br>
  </div>

  <div class="row">
    <div class="form-group col-xl-12">
      <h2>Permissions</h2>
      {% for role in roles %}
        <input class="form-check-input" type="checkbox" name="permission" id="permission" value="{{ role.role.name }}" {% if role.selected %}checked{% endif %}>
        <label class="form-check-label" for="permission">{{ role.role.name }}</label><br>
      {% endfor %}
    </div>
  </div>

  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    {% if item.id %}
      <input type="submit" name="action" value="Save" class="btn btn-primary"></input>
      <input type="submit" name="action" value="Delete" class="btn btn-danger"></input>
    {% else %}
      <input type="submit" name="action" value="Create" class="btn btn-primary"></input>
    {% endif %}
  </div>
</form>
<script>
  document.querySelector("#add-permission").addEventListener("click", function(event) {
      event.preventDefault();
      const roles = document.querySelectorAll(".role");
      for (const role of roles) {
          if (role.selected) {
              const elm = document.createElement("option");
              elm.setAttribute("class", "granted-role");
              elm.setAttribute("id", role.value);
              elm.setAttribute("name", role.value);
              elm.setAttribute("selected", "");
              elm.append(role.value);
              document.querySelector("#granted-roles").append(elm);
          }
      }
  });

  document.querySelector("#remove-permission").addEventListener("click", function(event) {
      event.preventDefault();
      const roles = document.querySelectorAll(".granted-role");
      for (const role of roles) {
          if (role.selected) {
            role.remove();
          }
      }
  });
  console.log("Hello Barghest");
</script>
{% endblock %}
