{% extends "layouts/default.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
          <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
      </nav>
    </div>
  </div>
  <form>
    {% if csrf-token %}
      <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf-token }}"></input>
    {% endif %}
    <div class="row">
      <div class="col-md-2">
        <select class="form-control">
          <option value="-" selected>-</option>
          <option value="delete">Delete</option>
        </select>
      </div>
      <div class="col-md-1">
        <input type="submit" name="action" value="Go" class="btn btn-primary form-control"></input>
      </div>
    </div>
    <table class="table">
      <thead>
        <th><input type="checkbox"></th>
        <th>User Name</th>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td><input name="{{ item.id }}" type="checkbox" value={{ item.id }}></td>
            <td><a href="/admin/user/{{ item.id }}">{{ item.name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}
