{% extends "layouts/default.html" %}
{% block content %}
  <a href="/admin">Admin</a>
  <h1>Users</h1>
  <form>
    {% if csrf-token %}
      <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf-token }}"></input>
    {% endif %}
    <select>
      <option value="-" selected>-</option>
      <option value="delete">Delete</option>
    </select>
    <input type="submit" name="action" value="Save" class="btn btn-primary"></input>
    <table class="table">
      <thead>
        <th><input type="checkbox"></th>
        <th>User Name</th>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td><input name="{{ item.id }}" type="checkbox" value={{ item.id }}></td>
            <td><a href="/admin/user/{{ item.id }}">{{ item.name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}
