{% extends "layouts/default.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Admin</li>
            </ol>
        </nav>
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Authorization</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <a href="/admin/role">Roles</a>
            </th>
            <td>
                <a href="/admin/role/add">&#x2795;&nbsp;Add</a>
                &nbsp;|&nbsp;
                <a href="/admin/role/edit">&#x270f;&#xfe0f;&nbsp;Edit</a>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <a href="/admin/user">Users</a>
            </th>
            <td>
                <a href="/admin/user/add">&#x2795;&nbsp;Add</a>
                &nbsp;|&nbsp;
                <a href="/admin/user/edit">&#x270f;&#xfe0f;&nbsp;Edit</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
